@using LZAIMonitor.Areas.Mgr.Models.Users
@model UsersViewModel
@{
    ViewBag.Title = "人員管理";
    Layout = "~/Views/Shared/_MgrLayout.cshtml";
}
@section scripts {
    @Styles.Render("~/Content/BootstrapTableCss")
    @Scripts.Render("~/bundles/BoostrapTableJs")
    <script type="text/javascript">
        var Token = '@CommonRazorFunctions.GetAntiForgeryToken()';
        var UrlEdit = '@Url.Action("Users201E0")';
        var UrlQuery = '@Url.Action("Query")';
        var UrlDelete = '@Url.Action("Delete")';
        var UrlInsert = '@Url.Action("Users201A0")';
    </script>
    <script src="~/Scripts/Views/Mgr/Users/Users10100.js?@DateTime.Now.ToString("yyyyMMddhhmmss")" type="text/javascript"></script>
}

<div style="margin:0 auto;width:90%;background-color:white;padding:20px;border-radius:1.5rem;">
    <h2 class="title">
        <span>
            使用者管理
        </span>
    </h2>
    @using (Html.BeginForm("QueryNoSubUnit", "Users", FormMethod.Post, new { id = "QueryForm", @novalidate = "", autocomplete = "off", onsubmit = "return false;" }))
    {
        @Html.AntiForgeryToken();@*注意!! 未使用Ajax傳資料記得使用此Token*@
        { Html.RenderPartial("Users101F0Partial", Model.QueryFilter); }
        { Html.RenderPartial("Users10110Partial", Model.DataList); }

    }
</div>


