@model LZAIMonitor.Areas.Cle.Models.AuditEvent.AuditEventViewModel.Filter
<div>
    @Html.ValidationSummary(true)

    <div class="form-group row">




        <div class="row  pb-4">

            <div class="col-2 mt-2">
                @Html.LabelFor(x => x.Name)

            </div>
            <div class="col-4 mt-2">
                @*@Html.TextBoxFor(x => x.CARNum, new { @class = "form-control" })*@
                @Html.DropDownListFor(x => x.Name, (IEnumerable<SelectListItem>)ViewBag.Name, null, new { @class = "form-control" })

            </div>




            <div class="col-2 mt-2">

                @Html.LabelFor(x => x.SDate)
            </div>
            <div class="col-4 mt-2">
                @Html.TextBoxFor(x => x.SDate) @Html.Label("~") @Html.TextBoxFor(x => x.EDate)

            </div>




        </div>
        <br />
        <button type="button" id="Query" onclick="tableDraw(queryTable, 'QueryForm');" style="font-weight: bold; border-radius: 45px; width: 100px;background-image:none !important;" class="btn btn-primary">查詢</button>
        <button type="button" id="Clear" onclick="Download();" style="font-weight: bold; border-radius: 45px; width: 100px;background-image:none !important;" class="btn btn-secondary">下載</button>
    </div>


