@using LZAIMonitor.Areas.Cle.Models.WasteCar

@model WasteCarViewModel.Filter


    @Html.ValidationSummary(true)

    <div class="form-group row">
        <div class="col-2 mt-2">

            @Html.LabelFor(x => x.Fac_No)
        </div>
        <div class="col-4 mt-2">
            @*@Html.TextBoxFor(x => x.Fac_No, new { @class = "form-control" })*@
            @Html.DropDownListFor(x => x.Fac_No, (IEnumerable<SelectListItem>)ViewBag.CleFac, null, new { @class = "form-control" })
        </div>


        <div class="col-2 mt-2">

            @Html.LabelFor(x => x.CARNum)
        </div>
        <div class="col-4 mt-2">
            @*@Html.TextBoxFor(x => x.CARNum, new { @class = "form-control" })*@
            @Html.DropDownListFor(x => x.CARNum, (IEnumerable<SelectListItem>)ViewBag.CleCar, null, new { @class = "form-control" })
            
        </div>
        <div class="col-2 mt-2">

            @Html.LabelFor(x => x.Fac_Name)
        </div>
        <div class="col-2 mt-2">
            @Html.DropDownListFor(x => x.Fac_Name, (IEnumerable<SelectListItem>)ViewBag.CleFacN, null, new { @class = "form-control" })
        </div>
    </div>
 

    <br />
    <button type="button" id="Query" onclick="tableDraw(queryTable, 'QueryForm');" style="font-weight: bold; border-radius: 45px; width: 100px;background-image:none !important;" class="btn btn-primary">查詢</button>
    <button type="button" id="Insert" onclick="Sweet2addDialog('新增',UrlInsert,900,600)" style="font-weight: bold; border-radius: 45px; width: 100px;background-image:none !important;" class="btn btn-success">新增</button>
    <button type="button" id="Clear" onclick="Download();" style="font-weight: bold; border-radius: 45px; width: 100px;background-image:none !important;" class="btn btn-secondary">下載</button>


